@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
  background-color: #1e1e1e;
  color: #c9c9c9;
  font-family: "Newsreader", serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.8;
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

a {
  color: #dbdbdb;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
}

a:hover {
  color: #f6f6f6;
}

ul {
  list-style: circle;
}

.sub {
  color: #a9a9a9;
}

section img {
  width: 100%;
  display: block;
}

header {
  max-width: 650px;
  margin: 0 auto;
  padding: 30px;
}

header.main {
  display: flex;
}

header.main > a {
  text-decoration: none;  
  flex-grow: 1; 
}

header.main nav {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

@media all and (max-width: 600px) {
  header.main {
    display: block;
  }
}

section {
  max-width: 650px;
  margin: 0 auto;
  padding: 30px;
}

section.custom-list ul {
  list-style: none;
  padding: 0;
}

section.custom-list ul li {
  margin-bottom: 10px;
}
