{{ define "main" }}
  <header>
    <div style="text-align: center;">frances u. / frances ulrika</div>
  </header>
  <main>

    <!-- custom bit for the homepage photos -->
    <div style="display: flex; justify-content: center; gap: 20px; align-items: flex-start;">
      <img src="images/homepage1.jpg" style="max-width: 300px;" />
      <img src="images/homepage2.jpg" style="max-width: 400px;" />
      <img src="images/homepage3.jpg" style="max-width: 300px;" />
    </div>
	
    <section>
      <ul>
        <li><a href="/about/">about</a></li>
        <li><a href="/music/">music</a></li>
        <li><a href="/poetry/">poetry</a></li>
        <li><a href="/visual-art/">visual art</a></li>
      </ul>
    </section>
  </main>
{{ end }}
