{{ define "main" }}
  <header style="text-align: center;">
    frances u. / frances ulrika
  </header>
  <main>

    <!-- custom bit for the homepage photos -->
    <div style="display: flex; justify-content: center; gap: 20px; align-items: flex-start; overflow: hidden;">
      <img src="images/homepage1.jpg" style="max-width: 300px;" />
      <img src="images/homepage2.jpg" style="max-width: 400px;" />
      <img src="images/homepage3.jpg" style="max-width: 300px;" />
    </div>
	
    <section>
      <ul>
        {{- range site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{- end }}
      </ul>
    </section>
  </main>
{{ end }}
